<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.money.transfer.dao.AccountMapper">
    <resultMap id="AccountMap" type="com.test.money.transfer.model.Account">
        <id property="id" column="account_id"/>
        <result property="balance" column="balance"/>
        <association property="currency" column="currency_id"
                     javaType="com.test.money.transfer.model.Currency"
                     select="com.test.money.transfer.dao.CurrencyMapper.findCurrencyCodeById"
                     fetchType="eager"/>
        <association property="client" column="client_id"
                     javaType="com.test.money.transfer.model.Client"
                     select="com.test.money.transfer.dao.ClientMapper.findById"
                     fetchType="lazy"/>
    </resultMap>

    <select id="getAccountsByClientId" parameterType="java.lang.Integer" resultMap="AccountMap">
        SELECT * FROM accounts WHERE client_id = #{client_id}
    </select>

    <insert id="create" parameterType="com.test.money.transfer.model.Account" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO accounts
        (client_id, currency_id, balance)
        VALUES
        (#{client.id}, #{currency.id}, #{balance})
    </insert>

    <update id="save" parameterType="com.test.money.transfer.model.Account">
        UPDATE accounts SET
        balance = #{balance}
        WHERE
        account_id = #{id}
    </update>

</mapper>