<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.money.transfer.dao.AccountMapper">
    <resultMap id="ClientMap" type="com.test.money.transfer.model.Account">
        <id property="id" column="account_id"/>
        <result property="currency" javaType="com.test.money.transfer.model.Currency" column="currency"/>
        <result property="balance" column="balance"/>
        <association property="client" column="client_id" javaType="com.test.money.transfer.model.Client"
                     select="selectClientForAccount"/>
    </resultMap>

    <select id="selectClientForAccount" parameterType="java.lang.Integer" resultType="com.test.money.transfer.model.Client">
        SELECT * FROM clients WHERE client_id = #{client_id} ;
    </select>

    <select id="getAccountsByClientId" parameterType="java.lang.Integer" resultType="com.test.money.transfer.model.Client">
        SELECT * FROM accounts WHERE client_id = #{client_id} ;
    </select>

<!--    <insert id="create" parameterType="com.test.money.transfer.model.Client" useGeneratedKeys="true" keyProperty="id">-->
<!--        Insert INTO clients-->
<!--        (client_name, email)-->
<!--        VALUES-->
<!--        (#{name}, #{email});-->
<!--    </insert>-->

</mapper>