<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.money.transfer.dao.ClientMapper">
    <resultMap id="ClientMap" type="com.test.money.transfer.model.Client">
        <id property="id" column="client_id"/>
        <result property="name" column="client_name"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="findAll" parameterType="list" resultMap="ClientMap">
        SELECT * FROM clients;
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ClientMap">
        SELECT * FROM clients WHERE client_id = #{id} ;
    </select>

    <insert id="create" parameterType="com.test.money.transfer.model.Client" useGeneratedKeys="true" keyProperty="id">
        Insert INTO clients
        (client_name, email)
        VALUES
        (#{name}, #{email});
    </insert>

</mapper>