<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.money.transfer.dao.CurrencyMapper">
    <resultMap id="CurrencyMap" type="com.test.money.transfer.model.Currency">
        <id property="id" column="currency_id"/>
        <result property="code" column="code" javaType="java.lang.String"/>
    </resultMap>

    <select id="findAll" parameterType="list" resultMap="CurrencyMap">
        SELECT * FROM currency;
    </select>

    <select id="findCurrencyById" parameterType="java.lang.Integer"
        resultMap="CurrencyMap">
        SELECT * FROM currency WHERE currency_id = #{id} ;
    </select>

    <select id="findIdByCurrencyCode" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT currency_id FROM currency WHERE code = #{code}
    </select>

    <insert id="create" parameterType="com.test.money.transfer.model.Currency"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO currency
        (code)
        VALUES
        (#{code})
    </insert>

</mapper>