<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.money.transfer.dao.TransferHistoryMapper">
    <resultMap id="TransferMap" type="com.test.money.transfer.model.Transfer">
        <id property="id" column="transfer_id"/>
        <result property="amount" column="amount"/>
        <result property="date" column="transfer_date"/>
        <result property="finished" column="is_finished" jdbcType="BIT" typeHandler="org.apache.ibatis.type.BooleanTypeHandler"/>
        <association property="from" column="account_from_id"
                     javaType="com.test.money.transfer.model.Account"
                     select="com.test.money.transfer.dao.AccountMapper.getAccountsByClientId"
                     fetchType="eager"/>
        <association property="to" column="account_to_id"
                     javaType="com.test.money.transfer.model.Account"
                     select="com.test.money.transfer.dao.AccountMapper.getAccountsByClientId"
                     fetchType="eager"/>
    </resultMap>

    <select id="findAll" parameterType="list" resultType="com.test.money.transfer.model.Transfer">
        SELECT * FROM transfers;
    </select>

    <insert id="save" parameterType="com.test.money.transfer.model.Transfer"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transfers
        (account_from_id, account_to_id, amount, transfer_date, is_finished)
        VALUES
        (#{from.id}, #{to.id}, #{amount}, #{date}, #{finished})
    </insert>

</mapper>